= form_for @virtual do |f|
  -if @virtual.errors.any?
    #error_explanation
      %h2= "#{pluralize(@virtual.errors.count, "error")} prohibited this virtual from being saved:"
      %ul
        - @virtual.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
